.ColourBox{
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -4.5px;
}

.SingleColourPalette .ColourBox{
    height: 50%;
}

.ColourBox.go-back {
    background-color: black;
}
.back-btn{
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    outline: none;
    background: #38383842;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.copy-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    outline: none;
    background: #38383842;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
}

.ColourBox:hover .copy-button{
    opacity: 1;
    cursor: pointer;
    transition: .5s;
    width: 110px;
    height: 40px;
    
}

.box-content{
    position: absolute;
    padding: 10px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.see-more{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #00000057;
    color: #fff;
    border: 0;
    text-align: center;
    line-height: 30px;
}

.copy-overlay{
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform: scale(0.1)
    
}

.copy-overlay.show{
    opacity: 1;
    transform: scale(20);
    z-index: 10;
    position: absolute;
}

.copy-msg{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transform: scale(.1);
    opacity: 0;
    color: #fff;
}


.copy-msg.show{
    opacity: 1;
    transform: scale(1);
    z-index: 20;
    transition: all .5s;
    transition-delay: .3s;
}

.copy-msg h1{
    font-weight: 400;
    text-shadow: 1px 2px #0000008e;
    background: #ffffff42;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    align-content: center;
    text-transform: uppercase;

}

.copy-msg p {
    font-size: 2rem;
    font-weight: 200;
}